body {
    padding: 0px;
}

img {
    display: block;
    margin: 0px auto;
}

.color-grey {
    color: #333;
}

.color-white {
    color: white;
}

.color-arizona {
    color: #0c8681;
}

.col-arizona {
    padding: 100px 75px; 
    background-color: #0c8681;
}

.row-arizona {
    padding: 75px 75px 100px 75px;
    background-color: #0c8681;
}

.row-white {
    padding: 75px 75px 100px 75px;
    background-color: white;
}

.col-pad {
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-form-pad {
    padding: 15px 0px;
}

.h1-filler {
    margin: 70px 0px;
}

.h2-header {
    border: 5px solid #333;
    padding: 10px;
    display: inline-block;
    color: #333;
}

.h2-header-offset {
    border: 5px solid #333;
    padding: 10px; 
    display: inline-block;
    color: white;
}

.btn-main {
    background-color: #0c8681;
    color: white;
    margin-top: 5px;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.navbar-inverse {
    border: none;
}

.navbar {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.5);
}

.nav li a:hover {
    color: red;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}


.nav-links {
    font-weight: 700;
}

form {
    width: 75%; 
    margin: 0px auto;
}

.form-group {
    margin-bottom: 0px;
}

.glyph {
    font-size: 16pt;
    color: white;
}

.glyph-mail {
    font-size: 32pt; 
}

footer {
    background-color: #222; 
    padding: 75px 75px;
}

.copyright {
    color: #444;
    margin-top: 15px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    h1 {
        font-size: 16pt;
    }
    h2 {
        font-size: 12pt;
    }
    h3 {
        font-size: 10pt;
    }
    h4 {
        font-size: 8pt;
    }
    #headshot {
        width: 55%;
    }
}
@media (min-width: 577px) {
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 18pt;
    }
    h3 {
        font-size: 14pt;
    }
    headshot {
        width: 40%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 24pt;
    }
    h2 {
        font-size: 22pt;
    }
    h3 {
        font-size: 18pt;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size : 28pt;
    }
    h2 {
        font-size: 26pt;
    }
    h3 {
        font-size: 20pt;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 32pt;
    }
    h2 {
        font-size: 28pt;
    }
    h3 {
        font-size: 22pt;
    }
}